$primary: #5425ff;
$secondary: #6e7881;
$success: #2ec011;
$danger: #f01c66;
$warning: #ff6f00;
$info: #00e1ff;
$light: #f8f9fa;
$dark: #343a40;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";