/* --------------------- Open Props --------------------------- */

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-SemiCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* the props */
@import "./scss/variables.scss";
@import "./scss/layout.scss";

/* ------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

