main {
    &.main-layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* biar full tinggi */
        position: relative;

        .main-content {
            padding-left: 2rem;
            padding-right: 2rem;
            margin-top: -23rem;
        }
    }

    .left-vector {
        align-self: flex-start;
        height: auto;
    }

    .right-vector {
        align-self: flex-end;
        margin-top: auto;
        height: auto;
    }

    .bg-cocolate {
        background-color: $cocolate;
        height: 3rem;

        .nav-link {
            display: flex;
            color: #fff !important;
        }

        .clock {
            font-size: 1rem;
            font-weight: 200 !important;
        }

        .waktu-sholat {
            display: flex;
            align-items: center;
            i {
                font-size: 12px;
            }
            img.mosque{
                width: 1.5rem;
                height: 1.5rem;
                color: #fff !important;
            }
        }
    }
    .table-responsive {
        position: absolute;
        top: 0;
        margin-left: 32rem !important;
        z-index: 999999 !important;
    }
    .navigation {
        height: 5rem;
        .navbar-brand {
            display: flex;
            align-items: center;
            img {
                width: 3rem;
                height: 3rem;
            }
            .brand-name {
                display: flex;
                flex-direction: column;
                h5 {
                    font-size: 1.2rem;
                    font-weight: 600 !important;
                    margin-bottom: 0 !important;
                    color: $primary;
                }
                p {
                    font-size: 0.8rem;
                    font-weight: 300;
                    margin-bottom: 0 !important;
                    color: $cocolate;
                }
            }
        }

        .navbar-nav{
            .nav-link{
                i {
                    color: $primary;
                    padding: 0.5rem 0.6rem;
                    border: 1px dashed $primary;
                    border-radius: 50%;
                }

                span {
                    padding: 0.5rem 0;
                }

                &.active {
                    i {
                        background-color: $primary;
                        color: #fff;
                    }

                    span {
                        color: $cocolate;
                        border-bottom: 2px solid $primary;
                    }
                }
            }
        }
    }
    .card {
        border: none;
        border-radius: 0;
        .card-img-overlay {
            // background-color: rgba($primary, 0.6);
            gap: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
    }
}