$primary: #ff9822;
$cocolate: #5d2b00;
$secondary: #edeef3;
$success: #2ec011;
$danger: #f01c66;
$warning: #ffc400;
$info: #00e1ff;
$light: #f8f9fa;
$dark: #343a40;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";